* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
    color: black;
}

a {
    list-style: none;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

ul {
    margin: 1vmin;
}

ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 1vmin;
    padding: 0px;
}

li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 1vmin;
}

.wrapper {
    background-image: url('images/lombardo-cccccoma-nofont.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background-size: cover; */
    height: 100vw;
    width: 100%;
    /* height: 67vw; */
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
}

/* NAV */
.nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

#cccccoma-logo {
    width: 50px;
    height: 50px;
}

#hamburger-button {
    visibility: visible;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#hamburger-button.on {
    visibility: hidden;
}

/* MENU */
#hamburger-menu {
    visibility: hidden;
    position: absolute;
    /* margin-top: -115px; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 100%; */
    /* width: 100%; */
    /* min-height: 320px;
    min-width: 100%; */
    background-color: white;
    background-size: cover;
    z-index: 888;
    overflow: auto;
    position: fixed;
}

#hamburger-menu.on {
    visibility: visible;
}

#menu {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 100%; */
    /* width: 100%; */
    /* max-width: 300px; */
    padding: 0px 35px;
    transform: translateX(100%);
}
.on #menu {
    visibility: visible;
    transition-property: transform;
    transform: translateX(0%);
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.close-button {
    position: absolute;
    top: 35px;
    right: 20px;
    font-family: helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
    /* z-index: 1000 !important; */
}

.menu-nav {
    margin-top: 100px;
}

.menulinks {
    font-size: 34px;
    margin-bottom: 5vmin;
}

.contact {
    font-size: 22px;
    margin-bottom: 1vmin;
}

.menu-socialmedia {
    font-size: 22px;
    /* margin-bottom: 30px; */
}

#menu-footer {
    font-size: 14px;
    margin-top: 5vmin;
    /* bottom: 6vmin; */
}

.menu-footer-cccccoma {
    margin-top: 5vmin;
}